{% block menu %}
    <a href="{% url 'main' %}" class="logo"></a>

    <ul class="menu">
        <li><a href="{% url 'main' %}"
               class="{% if request.resolver_match.namespace == 'main' %} active {% endif %}">домой</a>
        </li>
        <li>
            <a href="{% url 'products:index' %}"
               class="{% if request.resolver_match.namespace == 'products' %} active {% endif %}">продукты
            </a>
        </li>
        <li><a href="{% url 'contact' %}"
               class="{% if request.resolver_match.namespace == 'contact' %} active {% endif %}">контакты</a>
        </li>
    </ul>

    {% if user.is_superuser %}
        <li>
            <a href="{% url 'admin:users' %}">Админка</a>
        </li>
    {% else %}
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'auth:edit' %}">
                    {{ user.first_name|default:'Пользователь' }}
                </a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'auth:login' %}">войти</a>
            </li>
        {% endif %}
    {% endif %}

    {% if user.is_authenticated %}
        <li>
            <a href="{% url 'auth:logout' %}">выйти</a>
        </li>
    {% endif %}


    <a href="#" class="search"></a>
    <a href="{% url 'basket:view' %}" class="basket">
  <span>
    {% if basket %}
        {{ basket.0.total_cost|floatformat:0 }} руб
        ({{ basket.0.total_quantity }} шт)
    {% endif %}
  </span>
    </a>



{% endblock %}