{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Страница продукта</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
</head>
<body>
{% for product in products %}
    <div class="block">
        <p>{{ product.name }}</p>
        <img src="/static/img/{{ product.image }}" alt="product">
        <p>{{ product.short_desc }}</p>
        <p>{{ product.description }}</p>
        <p>{{ product.price }}</p>
        <p>{{ product.quatity }}</p>
        <a href="{% url 'basket:add' product.pk %}" class="red-button">
            заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </div>
{% endfor %}
</body>
</html>